/*styles go here*/

/* p {
color: red;

} */

p {
  color: #666666;
  font-family: 'Cabin','Helvetica', serif;
  font-size: 1em;
}
h1 {
  font-family: 'Cabin', Helvetica, Georgia, serif;
  font-size: 5em;
  margin: 0.1em;
  text-align: center;
  letter-spacing: 8px
}

h2 {
    font-family: 'Cabin', sans-serif;
    font-size: 3em;
    text-align: left;
  }

  h3 {
    font-family: 'Cabin', sans-serif;
    font-size: 1.5em;
    text-align: center;
    font-weight: lighter;
}

h4 {
  font-family: Arial, helvetica, serif;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 30px;
  margin-right: 30px;
  text-align: center;
  font-size: 1em;
  color: #006400;
}
body {
  background-color: white;
  text-align: left;
  text-decoration: none;
  margin-top: 30;
  margin-right: 30;
  margin-bottom: 30;
  margin-left: 30;

}

.about {
  display: flex;
  border-right: 25px;
  border-left: 25px;
  text-align: center;
}

.nav {
padding: 0;
list-style-type: none;

}
.nav li {
  border: none;
  display: block;
  color: #fff;
  background-color: #444;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-right: 25px;
  border-left: 25px;
  font-family: helvetica, arial, serif;
  padding: 10px;
}

.nav a:link, .nav a:visited {
  display: block;
  color: #fff;
  background-color: #444;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-right: 25px;
  border-left: 25px;
  font-family: helvetica, arial, serif;
  padding: 8px;
}

.nav a:hover, .nav a:active {
  border-right: 25px;
  border-left: 25px;
  background-color: #333;
}



footer {
  color: black;
  font-family: arial, helvetica, serif;
  font-size: 0.8em;
  font-weight: bold;
  text-align: left;
  border-top: 3px solid red;
  background-color: #fff8dc;
  padding: 10px;
}

img {
  border: none;
}




.nav {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;


}




.cards {
  display: grid;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;
  list-style: none;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  gap: 20px;
}



 .cards li {
   background-color: white;
   border: 1px solid #ccc;
   padding: 10px;
   border-radius: 5px;
   font-size: 3rem;
   text-align: center;
 }







  @media screen and (min-width:599px){
    .nav {
      flex-direction: row;
    }


  body{
      background-color: white;
  }


    .cards li{
    background: white;
    border: none;
    }




  .cards img{
    display:grid;
    width:95%;
    margin-top:0.5em;
  }

    .cards {
      display:grid;
      grid-template-columns:1fr 1fr;
      grid-gap:20px;
      grid-template-areas:
      "a b"
      "c d"
      "e f";
    }


  @media screen and (min-width:799px){
    .nav {
      flex-direction: row;
    }


  body{
      background-color: white;
  }


    .cards li{
    background: white;
    border: none;
    }



    .cards {
      flex-direction: column-reverse;
    }


  .cards img{
    display:grid;
    width:95%;
    margin-top:0.5em;
  }

    .cards {
      display:grid;
      grid-template-columns:1fr 1fr;
      grid-gap:20px;
      grid-template-areas:
      "a b"
      "c d"
      "e f";
    }
  }


  nav ul li {
      display: block;
      border-top: 1px #79896d solid;
      background-color: lightgray;
      width: 25%;
  }

  nav a {
      color: black;
      display: block;
      text-decoration: none;
      padding: 5px 5px;
      font-family: helvetica;

  }

  header {
      display: flex;
      flex-flow: row;
      background-color: #65a8a6;
      margin: 0;
      padding: 0 10px;
  }

  .menu-trigger {
      font-size: 1.75em;
      width: 2em;
      color: black;
  }

  header h1 {
      order: 2;
      font-size: 2em;
  }

  nav ul {
      display: none;
  }

  @media screen and (min-width: 700px){

      nav ul {
          display: flex;
          justify-content: space-between;
      }

      nav ul li {
          border-top: none;
      }

      .menu-trigger {
          display: none;
      }

      header h1 {
          order: 1;
      }

      nav {
          order: 2;
      }

  }
